- set_meta_tags :title => parent.title


.row
  .span12
    %h1= parent.title

.album= render collection

:javascript
  $(function(){
    function show_social_links(page_id, page_url, page_image){
      $('#cboxContent .likes').remove();
      $('#cboxClose').before('<div class="likes" style="position: absolute; bottom: 0; right: 100px; width: 40px; height: 22px"><div id="vk_tooltip"></div><div id="vk_like"></div></div>');
      VK.Widgets.Like(
        "vk_like", {
          type: "mini", 
          ttHere: $('#vk_tooltip'), 
          pageUrl: page_url,
          pageImage: "http://glushkova.me/assets/dark_wood.png"
        }, 
        page_id
      );
    };

    $('a.album_photo').colorbox({
      rel:'gallery', 
      maxWidth: '90%', 
      maxHeight: '90%', 
      onComplete: function(){
        var page_id = $(this).data('page-id');
        location.hash = "photo_" + page_id;
        show_social_links(page_id, location.href, $(this).attr('href'));
      },
      onClosed: function(){
        location.hash = "";
      }
    });

    var matched = location.hash.match(/photo_(\d+)/);
    if(matched) {
      $("a[data-page-id=" + matched[1] + "]").click();
    }
  })
