- set_meta_tags :title => parent.title


.row
  .span12
    %h1= parent.title

.album
  - collection.in_groups_of(5, false) do |photos|
    .row= render photos

:javascript
  $('a.album_photo').colorbox({rel:'gallery', maxWidth: '90%', maxHeight: '90%'});
