- set_meta_tags :title => parent.title


.row
  .span12
    %h1= parent.title

.album= render collection

:javascript
  function show_social_links(){
    $('#cboxContent .likes').remove();
    $('#cboxClose').before('<div class=".likes" style="position: absolute; bottom: 0; right: 100px; width: 40px; height: 22px"><div id="vk_like"></div></div>');
    VK.Widgets.Like("vk_like", {type: "mini", page_id: $(this).data('page-id')});
  }

  $('a.album_photo').colorbox({rel:'gallery', maxWidth: '90%', maxHeight: '90%', onComplete: show_social_links});
