- set_meta_tags :title => parent.title


.row
  .span12
    %h1= parent.title

.album= render collection

:javascript
  $('a.album_photo').colorbox({rel:'gallery', maxWidth: '90%', maxHeight: '90%'});
